<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td style="text-align: center; padding: 20px;">
            <img src="http://www.brilia.com/skin/frontend/default/brilia/css/img/logo-brilia.png" alt="Brilia - Luz muda tudo" />
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; font-family: verdana; font-size: 13px; color:#fff;" bgcolor="#333">
            {{message}}
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px; font-family: verdana; font-size: 13px; color:#474848;">
            {{#if goal}}
                Voc&ecirc; atingiu <span style="font-size: 18px;"><strong>{{goal}}</strong></span> da sua meta.
                <br>
            {{/if}}    
            {{#if sales}}
            Seu total de vendas &eacute; de: <span style="font-size: 18px;">R${{sales}}</span>
            {{/if}}  
        </td>
    </tr>
    <tr>
        <td align="right" bgcolor="#f2f2f2" style="padding: 10px;"><a href="http://lucida.com.br" target="_blank" title="M&eacute;tricas que fazem sentido"><img src="http://lucida-brasil.github.io/public/Images/lucida-logo.png" alt="Lúcida" width="12%" border="0"></a></td>
    </tr>
</table>
</body>